@keyframes flash {
	from {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.flash {
	animation: flash 1s infinite ease;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes scalein {
	from {
		opacity: 0;
		transform: scale(2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
	
}
@keyframes itemsSlideIn {
	from {
		opacity: 0;
		transform: translateX(1rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
	
}
@keyframes SlideUp {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
	
}
@keyframes car1 {
	from { opacity: 1;
		transform: translate(8.2rem, -5.6rem)
	}
	to { opacity: 1;
		transform: translate(-2.7rem, 1.6rem)
	}
}
@keyframes car2 {
	from { opacity: 1;
		transform: translate(8.2rem, -5.6rem)
	}
	to { opacity: 1;
		transform: translate(-2.7rem, 1.6rem)
	}
}
@keyframes peoplerotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(40deg);
	}
	
}
@keyframes feibiao {
	from {
		opacity: 1;
		transform: scale(2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
	
}
@keyframes indexscale {
	from {
		transform: scale(1.5);
	}
	to {
		transform: scale(1);
	}
	
}
@keyframes tts {
	from {
		opacity: 0;
		transform: translateY(0.5rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
	
}
@keyframes line1 {
	from {
		opacity: 0;
		transform: translateX(-1rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
	
}
@keyframes line2 {
	from {
		opacity: 0;
		transform: translateX(1rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
	
}
@keyframes duihua1 {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	21% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	81% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
	
	
}
@keyframes duihua2 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	21% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	81% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes duihua3 {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	21% {
		opacity: 0;
	}
	80% {
		opacity: 0;
	}
	81% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes slideup {
	from{
		opacity: 0;
		transform: translateY(1.8rem);
	}
	to{
		opacity: 1;
		transform: translateY(0);
	}
	
}