* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.loading {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999999;
	background-color: #f0fdff;
	/*display          : none;*/
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.loading_gif {
	width: 2.2rem;
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.music {
	position: fixed;
	width: 0.76rem;
	top: 0.95rem;
	left: 0.4rem;
	animation: music 5s infinite linear;
	-webkit-animation: music 5s infinite linear;
	z-index: 80000;
}
.musictips {
	position: absolute;
	width: 0.67rem;
	bottom: 3.75rem;
	left: 0.2rem;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	animation: musictips 1s infinite linear alternate;
	-webkit-animation: musictips 1s infinite linear alternate;
	z-index: 300;
}
@keyframes musictips {
	from {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	to {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
	}
	
}
@-webkit-keyframes musictips {
	from {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	to {
		transform: scale(1.2);
		-webkit-transform: scale(1.1);
	}
	
}
.musicup {
	position: absolute;
	width: 0.6rem;
	bottom: 0.1rem;
	right: 0.3rem;
	z-index: 99999;
	transform-origin: 80% 77.5%;
	-webkit-transform-origin: 80% 77.5%;
	transform: rotate(-3deg);
}
@keyframes music {
	from {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
	to {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
}
@-webkit-keyframes music {
	from {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
	to {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
}
.music_pause {
	animation-play-state: paused;
	/*-webkit-animation-play-state : paused; !* Safari å’Œ Chrome *!*/
	-webkit-animation: none !important;
}
.boxoutside, .wrapperinside {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	overflow: hidden;
}
.boxoutside {
	/*height: 173.8rem;*/
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}
.wrapperinside {
	width: 100%;
	height: 173.8rem;
	position: absolute;
	left: 0;
	bottom: 0;
}
.warp {
	width: 100%;
	height: 173.8rem;
	position: absolute;
	left: 0;
	bottom: 0;
	/*top: -398px;*/
	z-index: 1;
	display: none;
	overflow: hidden;
}
.stage {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	overflow: hidden;
	display: none;
}
.bgimg {
	display: block;
	width: 7.50rem;
	height: auto;
}
.page1 {
	width: 7.50rem;
	height: 14.48rem;
	background: url("../images/bg.jpg") no-repeat top center;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
}
.page2 {
	width: 7.50rem;
	height: 14.48rem;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.64);
	display: none;
	z-index: 101;
}
.z1 {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s forwards ease;
}
.z2 {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s 0.2s forwards ease;
}
.z3 {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s 0.4s forwards ease;
}
.z4 {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s 0.6s forwards ease;
}
.z5 {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s 0.8s forwards ease;
}
.z6 {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s 2s forwards ease;
}
.z7 {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s 1s forwards ease;
}
.enter {
	opacity: 0;
	transform-origin: 50% 50%;
	animation: scalein 1s 3s forwards ease;
}
.sp {
	/*display: none;*/
	opacity: 0;
}
.spactive {
	opacity: 1;
	display: block;
}
.xuanren {
	opacity: 1;
	display: block;}
.answer {
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	/*background: rgba(146, 146, 146, 0.5);*/
	z-index: 10;
	display: none;
}
.mainbox {
	width: 6rem;
	min-height: 5rem;
	/* background: white; */
	display: block;
	position: absolute;
	left: 50%;
	top: 60%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
	display: none;
}
.videobox {
	width: 100%;
	height: 3.375rem;
	background: #ddbda9;
	margin-bottom: 0.3rem;
	display: none;
	position: relative;
	overflow: hidden;
	border: 0.02rem solid #d4ddc3;
	border-radius: 0.1rem;
	overflow: hidden;
	background: url("http://o.cztvcloud.com/181/5700816/images/poster.jpg") no-repeat;
	background-size: 100% 100%;
}
.duihua {
	width: 100%;
	height: 3.375rem;
	background: rgba(32, 23, 0, 0.6);
	margin-bottom: 0.3rem;
	position: relative;
	overflow: hidden;
	border: 0.02rem solid #e5d1b7;
	border-radius: 0.1rem;
	overflow: hidden;
	display: none;
}
#videotalk {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.ul {
	font-size: 0.28rem;
}
.ti {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: rgba(11, 0, 32, 0.6);
	margin-bottom: 0.23rem;
	padding: 0.20rem;
	border: 0.02rem solid rgb(186, 217, 207);
	border-radius: 0.1rem;
	color: white;
	position: relative;
}
.trueorfalse {
	position: fixed;
	width: 0.54rem;
	z-index: 100;
	left: 6.2rem;
	top: 1rem;
}
.clt.true {
	background: url("../images/true.png") no-repeat center left;
	background-size: 0.54rem 0.54rem;
	display: block;
	width: 1.3rem;
	height: 0.54rem;
	position: fixed;
	top: 1rem;
	right: 0;
}
.clt.false {
	background: url("../images/false.png") no-repeat center left;
	background-size: 0.54rem 0.54rem;
	display: block;
	width: 1.3rem;
	height: 0.54rem;
	position: fixed;
	top: 1.7rem;
	right: 0;
}
.clt {
	color: white;
	font-size: 0.4rem;
	text-indent: 0.6rem;
	text-shadow: 0 1px #494949, 1px 0 #494949, -1px 0 #494949, 0 -1px #494949;
	/*-webkit-text-stroke: 2px rgba(255, 0, 0, 0.22);*/
}
.fenshu {
	position: relative;
	left: -0.12rem;
	top: -0.12rem;
}
.deadwalker {
	width: 0.84rem;
	position: absolute;
	z-index: 1;
	left: 50%;
	bottom: -5rem;
	transform: translateX(-50%);
}
.timu {
	opacity: 0;
	animation: itemsSlideIn 0.5s forwards;
}
.ana {
	opacity: 0;
	animation: itemsSlideIn 0.5s 0.2s forwards;
}
.anb {
	opacity: 0;
	animation: itemsSlideIn 0.5s 0.3s forwards;
}
.anc {
	opacity: 0;
	animation: itemsSlideIn 0.5s 0.4s forwards;
}
.and {
	opacity: 0;
	animation: itemsSlideIn 0.5s 0.5s forwards;
}
.final {
	width: 6.90rem;
	height: 5.03rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*display: block;*/
	display: none;
	z-index: 10;
}
.finalimg {
	width: 100%;
	display: block;
	margin-bottom: 0.20rem;
}
.SlideUp1 {
	opacity: 0;
	animation: SlideUp 0.5s 0s forwards;
}
.SlideUp2 {
	opacity: 0;
	animation: SlideUp 0.5s 0.2s forwards;
}
.SlideUp3 {
	opacity: 0;
	animation: SlideUp 0.5s 0.4s forwards;
}
.score {
	width: 4.26rem;
	position: absolute;
	left: 50%;
	top: -1.4rem;
	transform: translateX(-50%);
}
.scoreText {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 0.5rem;
	color: #ff8124;
	position: absolute;
	left: 0;
	top: -0.3rem;
	font-weight: bold;
}
.shared, .baomingbox {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.68);
	overflow: hidden;
	display: none;
}
.baomingbox {
	display: block;
}
.stxt {
	text-align: right;
	width: 5rem;
	position: absolute;
	right: 2rem;
	top: 0.5rem;
	color: white;
	font-size: 0.35rem;
}
.bird1 {
	background-image: url("../images/bird_1.gif");
	background-size: 100% 100%;
	position: absolute;
	right: 0.48rem;
	top: -0.59rem;
	width: 1.79rem;
	height: 2.54rem;
	z-index: 4;
}
.close {
	background-image: url("../images/close.png");
	background-size: 100% 100%;
	position: absolute;
	left: 2.89rem;
	top: 5.86rem;
	width: 0.64rem;
	height: 0.64rem;
	z-index: 32;
}
.baoming {
	background-image: url("../images/baoming.png");
	background-size: 100% 100%;
	position: absolute;
	left: 1.78rem;
	top: 3.2rem;
	width: 2.84rem;
	height: 0.62rem;
	z-index: 31;
}
.succeed {
	background-image: url("../images/succeed.png");
	background-size: 100% 100%;
	opacity: 0.6;
	position: absolute;
	left: 1rem;
	top: 4.46rem;
	width: 4.43rem;
	height: 0.59rem;
	z-index: 30;
	display: none;
}
.bmy {
	background: url("../images/bmy.png") no-repeat;
	background-size: 100% 100%;
	width: 6.40rem;
	height: 6.50rem;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 10;
}
.ipt1 {
	position: absolute;
	left: 1.88rem;
	top: 2.07rem;
	width: 3.65rem;
	height: 0.5rem;
	z-index: 27;
	background: none;
	border: none;
	padding-left: 0.2rem;
	box-sizing: border-box;
}
.ipt2 {
	position: absolute;
	left: 1.89rem;
	top: 0.99rem;
	width: 3.65rem;
	height: 0.5rem;
	z-index: 26;
	background: none;
	border: none;
	padding-left: 0.2rem;
	box-sizing: border-box;
}
.tipos {
	width: 100%;
	position: absolute;
	left: 0;
	top: 4.5rem;
	color: #e2acfe;
	text-align: center;
	font-size: 0.2rem;
	display: none;
}